/**************************

Site: HAElectricLLC.com
Author: Matt Trask
Copyright: 2014
Twitter: @matthewtrask

**************************/

/**************************

GLOBAL STYLES

**************************/

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #8D8D8D;
	color: white;
	margin-right: auto;
	margin-left: auto;
}

main#body {
	padding-top: 70px;
}

/**************************

NAVBAR STYLES

**************************/
