/**************************

Site: HAElectricLLC.com
Author: Matt Trask
Copyright: 2014
Twitter: @matthewtrask

**************************/

/**************************

GLOBAL STYLES

**************************/

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #8D8D8D;
	color: white;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

#body {
	padding-top: 40px;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 50px;
}

.fa {
	margin-right: 10px;
}
/**************************

NAVBAR STYLES

**************************/
.nav, .container-fluid{
	background-color: #8D8D8D;
	border: 0px #8D8D8D;
}

#navbar {
	border-bottom: 0px;
}

#navbar a {
	margin-right: 30px;
	color: #FFF;
}

#navbar li a:hover {
	background-color: #FFF;
	color: #8d8d8d;
}


#main_logo {
	margin-top: -20px;
}

#phone {
	margin-left: 390px;
}

#socialmedia ul li{
	list-style: none;
}

#smaller_logo {
	height: 150px;
	border-radius: 35%;
}

#SocialIcons ul li {
	display: inline;
}

#SocialIcons li {
	display: inline;
}

#SocialIcons img:last-child {
	margin-left: 10px;
}

#facebook img:hover {
	background-color: #3B5998;
}

#twitter img:hover {
	background-color: #4099ff
}

#yelp img:hover {
	background-color: #c41200;
}

#instagram img:hover {
	background-color: #3f729b;
}

/*************************

INDEX PAGE

*************************/

#aboutus p {
	font-size: 1.8rem;
}


/*************************

FOOTER 

*************************/

#footer {
	height: 100px;
	width: 100%;
	background-color: #fff;
	color: #000;

}

ul#smIcons {
	margin-top: 20px;
}

#smIcons li {
	list-style: none;
}

#footerLinks li {
	display: inline-block;
	list-style: none;
}


/*************************

GALLERY

*************************/

#pics img {
	min-height: 220px;
	max-height: 220px;
	min-width: 250px;
	max-width: 250px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

/*************************

SERVICE

*************************/

#ServicesTop span a {
	font-size: 2.35rem;
	color: white;
	text-decoration: none;
}

#ServicesTop span a:hover {
	text-decoration: none;
	color: #8d8d8d;
	background-color: white;
}

#box {
	height: 1000px;
	background-color: red;
}

#box1 {
	height: 1000px;
	background-color: yellow;
}
#box2 {
	height: 1000px;
	background-color: green;
}
