/**************************

Site: HAElectricLLC.com
Author: Matt Trask
Copyright: 2014
Twitter: @matthewtrask

**************************/

/**************************

GLOBAL STYLES

**************************/

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #8D8D8D;
	color: white;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

#body {
	padding-top: 40px;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 50px;
}

.fa {
	margin-right: 10px;
}
/**************************

NAVBAR STYLES

**************************/
#smTitle {
	color: red;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.nav, .container-fluid{
	background-color: #8D8D8D;
	border: 0px #8D8D8D;
}

#navbar {
	border-bottom: 0px;
}

#navbar a {
	margin-right: 30px;
	font-size: 2rem;
	color: #FFF;
}

#navbar li a:hover {
	background-color: #FFF;
	color: #8d8d8d;
}


#main_logo {
	margin-top: -20px;
}

/*#phone {
	margin-left: 390px;
}*/

#socialmedia ul li{
	list-style: none;
}

#smaller_logo {
	height: 150px;
	border-radius: 35%;
}

#SocialIcons ul li {
	display: inline;
}

#SocialIcons li {
	display: inline;
}

#SocialIcons img:last-child {
	margin-left: 10px;
}

#facebook img:hover {
	background-color: #3B5998;
}

#twitter img:hover {
	background-color: #4099ff
}

#yelp img:hover {
	background-color: #c41200;
}

#instagram img:hover {
	background-color: #3f729b;
}



/*************************

INDEX PAGE

*************************/

#aboutus p {
	font-size: 1.8rem;
}


/*************************

FOOTER 

*************************/

#footer {
	height: 100px;
	width: 100%;
	background-color: #fff;
	color: #000;

}

ul#smIcons {
	margin-top: 20px;
}

#smIcons li {
	list-style: none;
}

#footerLinks li {
	display: inline-block;
	list-style: none;
}

#cc {
	color: #000032;
}

#footerPhone {
	color: red;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}


/*************************

GALLERY

*************************/

#pics img {
	min-height: 220px;
	max-height: 220px;
	min-width: 250px;
	max-width: 250px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

/*************************

SERVICE

*************************/

#ServicesTop span a {
	font-size: 2.35rem;
	color: red;
	text-decoration: none;
}

#ServicesTop span a:hover {
	text-decoration: none;
	color: red;
	background-color: white;
	width: 115%;
    
}

#ServicesTop a .fa-chevron-down:hover {
	transform: rotate( -180deg );            
}

#Electric, #LED, #Bar {
	display: none;
}

#ee li, #ledlights li, #foh li, #boh li {
	list-style: none;
}

#ee .fa-lightbulb-o {
	color: red;
}

#Electric h2 {
	color: red;
	background-color: white;
	border-radius: 50px;
}

#LED h2 {
	color: #7DF9FF;
	background-color: white;
	border-radius: 50px;
}

#Bar h2 {
	color: #ff3300;
	background-color: white;
	border-radius: 50px;
}

#LED .fa-bolt {
	color: red;
}

.fa-wrench {
	margin-left: 10px;
	color: red;
}

.fa-plug {
	color: red;
}

#map-canvas {
    height: 75%;
    margin: 0px;
    padding: 0px
}

.text-danger {
	font-size: 1.5rem;
}


