/**************************

Site: HAElectricLLC.com
Author: Matt Trask
Copyright: 2014
Twitter: @matthewtrask

**************************/

/**************************

GLOBAL STYLES

**************************/

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #8D8D8D;
	color: white;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

#body {
	height: 100%;
	padding-top: 140px;
	font-family: 'Oxygen', sans-serif;
}

.fa {
	margin-right: 10px;
}
/**************************

NAVBAR STYLES

**************************/

#logo {
	margin-top: -20px;
}

#phone {
	margin-left: 390px;
}

#socialmedia ul li{
	list-style: none;
}

/*************************

MAIN BODY 

*************************/

#main {
	margin-top: 140px;
	height: 100%;
}

/*************************

FOOTER 

*************************/

#footer {
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin-top: 160px;
	color: #000;
	position: absolute;
}

/*************************

GALLERY

*************************/

#pics img {
	min-height: 320px;
	max-height: 320px;
	min-width: 300px;
	max-width: 300px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
